<div class="row">
    <img class="mx-auto" style="border-radius: 8px;"
         src="/static/jonathanvictor.png" alt="Jonathan Kao"
         height="300" width="450">
    <h7 class="text-white mx-auto"></h7>
</div>
<div class="row">
    <h5 class="text-white mx-auto">Jonathan Kao</h5>
    <h5 class="text-white mx-auto">Victor Lin</h5>
</div>
<div class="row">
    <h7 class="text-white mx-auto">Two high school seniors who mess
        around with all things web development, AI, and computer
        science!
    </h7>
</div>