<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
    html, body {
    height: 100%;
    }
    .compressed {
    line-height: .7;
    }



    </style>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Clear Cov-19
    </title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159250806-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159250806-2');
</script>

</head>
<body class="dark-edition">
<div class="wrapper">
    <div class="sidebar d-lg-none" data-color="purple" data-background-color="black"
         data-image="{% static 'assets/img/sidebar-2.jpg' %}">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
            </ul>
        </div>
    </div>
    <div class="main-panel h-100 w-100">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href={% url 'test' %}>
                    <img width="40" height="40" src="{% static 'biology.png' %}" alt="virus">
                    &nbsp;Clear Cov-19</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a type="submit" data-toggle="modal" class="nav-link" href="#about_clear_cov">
                                <i class="material-icons">info_outline</i>
                                <p class="d-lg-none d-md-block">
                                    Site Info
                                </p>
                            </a>
                        </li>

                        <div class="modal fade" id="about_clear_cov" role="dialog" tabindex="-1" data-backdrop="false">
                                <div class="modal-dialog" role="document">
                                    <div class="card modal-content" style="background-color:#313952">
                                        <div class="modal-header" style="border:none;">
                                            <button class="close text-white mx-0 pull-right invisible" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title text-white mx-auto" id="exampleModalLabel">About ClearCov19!
                                            </h5>
                                            <button class="close text-white mx-0 pull-right" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-header mx-3 py-0 my-0" style="border-color:#8f35aa;border-width:2px;"></div>
                                        <form onsubmit="return false;">
                                            <div class="modal-body pt-2 my-0" style="border:none;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <h7 class="text-white mx-auto">What is the goal of this project</h7>
                                                    </div>
                                                    <div class="row">
                                                        <h7 class="text-white mx-auto"><a href="https://github.com/jonathankao97/coronavirus_county">Open Source Github Project</a></h7>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer pt-0 mt-0" style="border:none;">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        <li class="nav-item">
                            <a type="submit" data-toggle="modal" class="nav-link" href="#about_us_page">
                                <i class="material-icons">supervisor_account</i>
                                <p class="d-lg-none d-md-block">
                                    About Us
                                </p>
                            </a>
                        </li>

                        <div class="modal fade" id="about_us_page" role="dialog" tabindex="-1" data-backdrop="false">
                                <div class="modal-dialog" role="document">
                                    <div class="card modal-content" style="background-color:#313952">
                                        <div class="modal-header" style="border:none;">
                                            <button class="close text-white mx-0 pull-right invisible" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title text-white mx-auto" id="exampleModalLabel">About us!
                                            </h5>
                                            <button class="close text-white mx-0 pull-right" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-header mx-3 py-0 my-0" style="border-color:#8f35aa;border-width:2px;"></div>
                                        <form onsubmit="return false;">
                                            <div class="modal-body pt-2 my-0" style="border:none;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <img class="mx-auto" style="border-radius: 8px;" src="static/jonathanvictor.png" alt="Jonathan Kao" height="300" width="450">
{#                                                        <img style="border-radius: 8px;" src="static/victor.jpg" alt="Victor Lin" height="100" width="100">#}

{#                                                        <h7 class="text-white mx-auto"></h7>#}
                                                    </div>
                                                    <div class="row">
                                                        <h5 class="text-white mx-auto">Jonathan Kao</h5>
                                                        <h5 class="text-white mx-auto">Victor Lin</h5>
                                                    </div>
                                                    <div class="row">
                                                        <h7 class="text-white mx-auto">Two high school seniors who mess around with all things web development, AI, and computer science!</h7>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer pt-0 mt-0" style="border:none;">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        <li class="nav-item">
                            <a type="submit" data-toggle="modal" class="nav-link" href="#feedback_form">
                                <i class="material-icons">mail_outline</i>
                                <p class="d-lg-none d-md-block">
                                    Contact
                                </p>
                            </a>
                        </li>
                            <div class="modal fade" id="feedback_form" role="dialog" tabindex="-1" data-backdrop="false">
                                <div class="modal-dialog" role="document">
                                    <div class="card modal-content" style="background-color:#313952">
                                        <div class="modal-header" style="border:none;">
                                            <button class="close text-white mx-0 pull-right invisible" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title text-white mx-auto" id="exampleModalLabel">Feedback Form!
                                            </h5>
                                            <button class="close text-white mx-0 pull-right" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-header mx-3 py-0 my-0" style="border-color:#8f35aa;border-width:2px;"></div>
                                        <form onsubmit="return false;">
                                            <div class="modal-body pt-2 my-0" style="border:none;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Email address</label>
                                                                <input type="email" class="form-control" id="email"
                                                                       required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Fist Name</label>
                                                                <input type="text" class="form-control" id="first_name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Last Name</label>
                                                                <input type="text" class="form-control" id="last_name" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
{#                                                                <label class="bmd-label-floating">Feedback</label>#}
{#                                                                <label>Feedback</label>#}
                                                                    <label class="bmd-label-floating">Feedback</label>
                                                                    <textarea class="form-control" rows="5" id="feedback"></textarea>

{#                                                                <input type="text" class="form-control" id="feedback"#}
{#                                                                       required>#}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="modal-footer pt-0 mt-0" style="border:none;">
                                                <button type="submit" class="btn btn-primary pull-right" id="target1">Submit</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <li class="nav-item">
                            <a class="nav-link d-flex" href="https://ko-fi.com/victorlin">
                                <img width="30" height="30" src="{% static 'kofi.gif' %}" alt="kofi">
                                <p class="d-lg-none d-md-block ml-3">
                                    Buy us a coffee!
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>




        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'js/material-dashboard.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<!-- Chartist JS -->
<script src="{% static 'js/plugins/chartist.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/chart-area-demo.js' %}"></script>
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var id = $(e.target).attr("id")
            if (id != undefined){
            make_charts(parseInt(id));
            }
    })

    function showNotification(e,a){
    $.notify({icon:"add_alert",
    message:"<p>You are now subscribed to receive daily updates for <strong>{{ county }}</strong> County!</p>"},
    {type:"success",timer:3e3,placement:{from:e,align:a}})
    }


    $( "#target1" ).click(function() {
    var valid = $('#email')[0].checkValidity() && $('#first_name')[0].checkValidity() && $('#last_name')[0].checkValidity()
    if (valid){
      $('#feedback_form').hide();
      $.ajax({
            type: "POST",
            url: "/county/feedback/",
            data: {
                'email': $('#email').val(),
                'first_name': $('#first_name').val(),
                'last_name': $('#last_name').val(),
                'feedback': $('#feedback').val(),
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            },
            success:searchSuccess,
            dataType: 'html'
        });
    }
    function searchSuccess(data, textStatus, jqXHR){
    showNotification('top','center');
    $.clearInput();
    }
});

    $.clearInput = function () {
        $('form').find('input[type=text], input[type=password], input[type=number], input[type=email], textarea').val('');
};



</script>
</body>
</html>
