<div class="row">
    <h5 class="text-success mx-auto"><strong>A site for those looking
        for...</strong></h5>
</div>
<hr class="mt-0">
<div class="row">
    <ul>
        <li>
            <h7 class="font-weight-light mx-auto text-center"><span
                    class="text-white">Up-to-date</span> statistics on
                COVID-19 for your own county
            </h7>
        </li>
        <li>
            <h7 class="font-weight-light mx-auto text-center">
                Quick search to look
                up <span class="text-white">any county</span> in the US
            </h7>
        </li>
        <li>
            <h7 class="font-weight-light mx-auto text-center">Daily
                <span class="text-white">email updates</span> on how
                Coronavirus is changing in your area
            </h7>
        </li>
        <li>
            <h7 class="font-weight-light mx-auto text-center">A
                minimalist and <span
                        class="text-white">user-friendly</span>
                interface &nbsp;<i class="fas fa-smile"></i></h7>
        </li>
    </ul>
</div>
<div class="row mt-4">
    <h5 class="text-success mx-auto"><strong>BACKGROUND</strong></h5>
</div>
<hr class="mt-0">
<div class="row">
    <h7 class="font-weight-light mx-auto ">The story goes: two high
        school seniors, anchored to their houses due to mandatory school
        shutdown, decide to relieve their boredom with this...
    </h7>
</div>
<div class="row mt-2">
    <h7 class="text-success font-weight-light mx-auto text-center">But
        no really! We made this for YOU. Our own experiences
        and stories from close relatives regarding the virus have led us
        to do our part as global citizens.
    </h7>
</div>
<div class="row mt-4">
    <h5 class="text-success mx-auto"><strong>LASTLY...</strong></h5>
</div>
<hr class="mt-0">
<div class="row mt-0">
    <h7 class="text-white font-weight-light mx-auto text-center">
        This site wouldn't have been possible without the following data
        sources:
    </h7>
    <div class="col-4 text-center px-0">
        <a class="btn-warning btn text-white mt-3 px-4"
           href="http://coronavirus.1point3acres.com/en"
           style="line-height:1">
            1.3acres
        </a>
    </div>
    <div class="col-4 text-center px-0">
        <a class="btn-info btn text-white mt-3 px-4"
           href="https://covidtracking.com/"
           style="line-height:1">
            Covid Tracking
        </a>
    </div>
    <div class="col-4 text-center px-0">
        <a class="btn-primary btn text-white mt-3 px-4"
           href="http://simplemaps.com/data/us-zips"
           style="line-height:1">
            Simple Maps
        </a>
    </div>
</div>
<div class="row mt-0">
    <a href="https://github.com/jonathankao97/coronavirus_county"
       class="text-primary mx-auto mt-2"><u>View our GitHub</u></a>
</div>